<?xml version="1.0" encoding="utf-8" ?>
<Root>
  <ContextMenu name="3DView" id="0x2100" >
    <!-- 
    <SubMenu text="Tools">
      <SubMenu text="Camera">
        <MenuItem text="Camera Move Horizontal ⁦−► Ctrl+Click Ground" id="6200" />
        <MenuItem text="Camera Move Vertical −► Shift+Click Ground" id="6201" />
        <Seperator/>
        <MenuItem text="Camera Rotate Horizontal −► Alt+Click Ground" id="6203" />
        <MenuItem text="Camera Rotate Vertical−► Ctrl+Shift+Click Ground" id="6204" />
      </SubMenu>
      <SubMenu text="Object">
        <MenuItem text="Object Move Horizontal −► Click Object" id="6210" />
        <MenuItem text="Object Move Vertical −► Shift+Click Object" id="6211" />
        <MenuItem text="Object Drag/Drop −► Ctrl+Click Object" id="6212" />
        <Seperator/>
        <MenuItem text="Object Rotate Horizontal −► Alt+Click Object" id="6213" />
        <MenuItem text="Object Rotate X-Axis −► Ctrl+Shift+Click Object" id="6214" />
        <MenuItem text="Object Rotate Y-Axis −► Ctrl+Alt+Click Object" id="6215" />
        <MenuItem text="Object Rotate Z-Axis −► Ctrl+Shift+Alt+Click Object" id="6216" />
      </SubMenu>
      <SubMenu text="Touchpad Camera">
        <MenuItem text="Camera Move Horizontal ⁦−► Space+Touchpad" id="6220" />
        <MenuItem text="Camera Move Vertical ⁦−► V+Touchpad Ground" id="6221" />
        <MenuItem text="Camera Move X-Axis ⁦−► X+Touchpad Ground" id="6222" />
        <MenuItem text="Camera Move Y-Axis ⁦−► Y+Touchpad Ground" id="6223" />
        <MenuItem text="Camera Move Z-Axis ⁦−► Z+Touchpad Ground" id="6224" />
        <Seperator/>
        <MenuItem text="Camera Rotate Horizontal −► A+Touchpad" id="6225" />
        <MenuItem text="Camera Rotate Vertical −► Shift+A+Touchpad" id="6226" />
        <MenuItem text="Camera Rotate Direction −► W+Touchpad" id="6227" />
      </SubMenu>
      <SubMenu text="Touchpad Object">
        <MenuItem text="Object Move Vertical −► V+Touchpad Object" id="6230" />
        <MenuItem text="Object Move X-Axis ⁦−► X+Touchpad Object" id="6231" />
        <MenuItem text="Object Move Y-Axis ⁦−► Y+Touchpad Object" id="6232" />
        <MenuItem text="Object Move Z-Axis ⁦−► Z+Touchpad Object" id="6233" />
        <Seperator/>
        <MenuItem text="Object Rotate X-Axis ⁦−► Shift+X+Touchpad Object" id="6234" />
        <MenuItem text="Object Rotate Y-Axis ⁦−► Shift+Y+Touchpad Object" id="6235" />
        <MenuItem text="Object Rotate Z-Axis ⁦−► Shift+Z+Touchpad Object" id="6236" />
        <Seperator/>
        <MenuItem text="Selection Rotate ⁦Horizontal −► Q+Touchpad" id="6240" />
        <MenuItem text="Selection Rotate ⁦Vertical −► Shift+Q+Touchpad" id="6241" />
      </SubMenu>
    </SubMenu>
-->
    <!--
    <SubMenu text="Tools">
      <MenuItem text="Camera Move Horizontal ⁦−► Ctrl+Click Ground" id="6200" />
      <MenuItem text="Camera Move Vertical −► Shift+Click Ground" id="6201" />
      <MenuItem text="Camera Rotate Horizontal −► Alt+Click Ground" id="6203" />
      <MenuItem text="Camera Rotate Vertical−► Ctrl+Shift+Click Ground" id="6204" /> 
      <Seperator/>
      <MenuItem text="Object Move Horizontal −► Click Object" id="6210" />
      <MenuItem text="Object Move Vertical −► Shift+Click Object" id="6211" />
      <MenuItem text="Object Drag/Drop −► Ctrl+Click Object" id="6212" />
      <MenuItem text="Object Rotate Horizontal −► Alt+Click Object" id="6213" />
      <MenuItem text="Object Rotate X-Axis −► Ctrl+Shift+Click Object" id="6214" />
      <MenuItem text="Object Rotate Y-Axis −► Ctrl+Alt+Click Object" id="6215" />
      <MenuItem text="Object Rotate Z-Axis −► Ctrl+Shift+Alt+Click Object" id="6216" />
      <Seperator/>
      <MenuItem text="Camera Move Horizontal ⁦−► Space+Touchpad" id="6220" />
      <MenuItem text="Camera Move Vertical ⁦−► V+Touchpad Ground" id="6221" />
      <MenuItem text="Camera Move X-Axis ⁦−► X+Touchpad Ground" id="6222" />
      <MenuItem text="Camera Move Y-Axis ⁦−► Y+Touchpad Ground" id="6223" />
      <MenuItem text="Camera Move Z-Axis ⁦−► Z+Touchpad Ground" id="6224" />
      <MenuItem text="Camera Rotate Horizontal −► A+Touchpad" id="6225" />
      <MenuItem text="Camera Rotate Vertical −► Shift+A+Touchpad" id="6226" />
      <MenuItem text="Camera Rotate Direction −► W+Touchpad" id="6227" />
      <Seperator/>
      <MenuItem text="Object Move Vertical −► V+Touchpad Object" id="6230" />
      <MenuItem text="Object Move X-Axis ⁦−► X+Touchpad Object" id="6231" />
      <MenuItem text="Object Move Y-Axis ⁦−► Y+Touchpad Object" id="6232" />
      <MenuItem text="Object Move Z-Axis ⁦−► Z+Touchpad Object" id="6233" />
      <MenuItem text="Object Rotate X-Axis ⁦−► Shift+X+Touchpad Object" id="6234" />
      <MenuItem text="Object Rotate Y-Axis ⁦−► Shift+Y+Touchpad Object" id="6235" />
      <MenuItem text="Object Rotate Z-Axis ⁦−► Shift+Z+Touchpad Object" id="6236" />
      <Seperator/>
      <MenuItem text="Selection Rotate ⁦Horizontal −► Q+Touchpad" id="6240" />
      <Seperator/>
      <MenuItem text="Collisions" id="2330" img="9" tip="Switch collision mode on/off."/>
      <MenuItem text="Tools..." id="2340" />
    </SubMenu>-->
    <!-- <KeyBinding guid="g2" id="_2221" editor="g2" key1="VK_RETURN" /> -->
    <MenuItem text="Tool Assistent" id="2221" keys="VK_RETURN"/>
    <MenuItem text="Collisions" id="2321"/>
    <Seperator/>
    <MenuItem text="Group" id="2035" keys="Control|W|G" fl="DefaultInvisible|DynamicVisibility"/>
    <MenuItem text="Ungroup" id="2036" keys="Control|W|U" fl="DefaultInvisible|DynamicVisibility"/>
    <Seperator/>
    <MenuItem text="Union" id="2301" keys="Control|E|U" fl="DefaultInvisible|DynamicVisibility"/>
    <MenuItem text="Intersection" id="2302" keys="Control|E|I" fl="DefaultInvisible|DynamicVisibility"/>
    <MenuItem text="Difference" id="2303" keys="Control|E|D" fl="DefaultInvisible|DynamicVisibility"/>
    <MenuItem text="PlaneCut" id="2304" keys="Control|E|P" fl="DefaultInvisible|DynamicVisibility"/>
    <Seperator/>
    <MenuItem text="Check..." id="2305" keys="Control|W|U" fl="DefaultInvisible|DynamicVisibility"/> 
    <MenuItem text="Normalize" id="2038" keys="Control|W|U" fl="DefaultInvisible|DynamicVisibility"/>
    <MenuItem text="Retess" id="2039" fl="DefaultInvisible|DynamicVisibility"/>
    <MenuItem text="Rangesplit" id="2306" fl="DefaultInvisible|DynamicVisibility"/>
    <Seperator/>
    <MenuItem id="cmdidCut" />
    <MenuItem id="cmdidCopy" />
    <MenuItem id="cmdidPaste" />
    <Seperator/>
    <MenuItem text="Center" id="2300" keys="Control|W|C" />
    <Seperator/>
    <SubMenu text="Select Style">
      <MenuItem text="Box" id="2210" />
      <MenuItem text="Pivot" id="2211" />
      <MenuItem text="Normals" id="2212" />
      <MenuItem text="Wireframe" id="2213" />
      <MenuItem text="Outline" id="2214" />
    </SubMenu>
    <SubMenu text="Display">
      <MenuItem text="Shadows" id="2220" />
      <MenuItem text="Checkboard" id="2320" />
      <MenuItem text="Fps" id="2223" />
      <MenuItem text="Buffers" id="2322" />
      <Seperator/>
      <Combo text="Graphics" idlist="2755" id="2756" width="150" type="IndexCombo"/>
      <Combo text="MultiSamples" idlist="2757" id="2758" width="30" type="DynamicCombo" />
    </SubMenu>
    <Seperator/>
    <!--<MenuItem id="cmdidF1Help" />-->
    <MenuItem text="Script" id="2037" keys="VK_F12"/>
    <MenuItem id="cmdidToolbox" />
    <MenuItem id="cmdidDocOutlineWindow" />
    <MenuItem id="cmdidPropertiesWindow" />
  </ContextMenu>
  
  <ContextMenu name="Tree" id="0x2104" >
    <MenuItem id="cmdidCut" />
    <MenuItem id="cmdidCopy" />
    <MenuItem id="cmdidPaste" />
    <Seperator/>
    <MenuItem id="cmdidBringToFront" />
    <MenuItem id="cmdidSendToBack" />
    <Seperator/>
    <MenuItem text="Group" id="2035" />
    <MenuItem text="Ungroup" id="2036" />
    <Seperator/>
    <MenuItem text="Center" id="2300" />
    <Seperator/>
    <MenuItem id="cmdidPropertiesWindow" />
  </ContextMenu>
  
  <ContextMenu name="Script" id="0x2101" >
    <MenuItem id="cmdidToggleBreakpoint" />
    <MenuItem id="cmdidClearBreakpoints" />
    <Seperator/>
    <!--<MenuItem id="cmdidStart" />-->
    <MenuItem id="cmdidStepOver" />
    <MenuItem id="cmdidStepInto" />
    <MenuItem id="cmdidStepOut" />
    <MenuItem id="cmdidStop" />
    <Seperator/>
    <MenuItem id="cmdidFindSelectedNext" />
    <MenuItem id="cmdidFindNext" />
    <MenuItem id="cmdidFindPrev" />
    <MenuItem id="cmdidGotoDefn" />
    <Seperator/>
    <MenuItem  text="Toggle" id="2062" keys="Control|M|M" />
    <MenuItem  text="Toggle all" id="2063" keys="Control|M|L" />
    <Seperator/>
    <MenuItem id="cmdidCut" />
    <MenuItem id="cmdidCopy" />
    <MenuItem id="cmdidPaste" />
    <Seperator/>
    <MenuItem id="cmdidPropertiesWindow" />
  </ContextMenu>

  <ToolWindowToolbar name="Toolbar3D" id="0x1002" >
    <MenuItem text="Tool1" id="2401" img="0"/>
    <MenuItem text="Tool2" id="2402" img="1"/>
    <MenuItem text="Tool3" id="2403" img="2"/>
    <MenuItem text="Tool4" id="2404" img="3"/>
    <MenuItem text="Tool5" id="2405" img="4"/>
    <MenuItem text="Tool6" id="2406" img="5"/>
    <MenuItem text="Tool7" id="2407" img="6"/>
    <MenuItem text="Tool8" id="2408" img="7"/>
    <MenuItem text="Tool9" id="2409" img="8"/>
    <Seperator/>
    <SubMenu text="SplitButton" type="MenuController">
      <MenuItem text="Tool" img="0" fl="NoShowOnMenuController|FixMenuController|Pict"/>
      <MenuItem text="Tool1" id="2401" img="0"/>
      <MenuItem text="Tool2" id="2402" img="1"/>
      <MenuItem text="Tool3" id="2403" img="2"/>
      <MenuItem text="Tool4" id="2404" img="3"/>
      <Seperator/>
      <MenuItem text="Tool5" id="2405" img="4"/>
    </SubMenu>
    <MenuItem text="Collisions" id="2330" img="9" tip="Switch collision mode on/off."/>
    <Seperator/>
    <MenuItem id="cmdidCut" />
    <MenuItem id="cmdidCopy" />
    <MenuItem id="cmdidPaste" />
    <Seperator/>
    <Combo text="Driver" idlist="2755" id="2756" width="100" type="IndexCombo"/>
    <Combo text="Samples" idlist="2757" id="2758" width="30" type="DynamicCombo" _t="DropDownCombo|DynamicCombo|IndexCombo|MRUCombo|AppID|Shared"/>
    <Seperator/>
    <MenuItem id="cmdidPropertiesWindow" />
    <!--
    <SubMenu text="Graphics Driver">
      <MenuItem text="Driver 1" id="2751" fl="DefaultInvisible|DynamicVisibility|TextChanges"/>
      <MenuItem text="Driver 2" id="2752" fl="DefaultInvisible|DynamicVisibility|TextChanges"/>
      <MenuItem text="Driver 3" id="2753" fl="DefaultInvisible|DynamicVisibility|TextChanges"/>
      <MenuItem text="Driver 4" id="2754" fl="DefaultInvisible|DynamicVisibility|TextChanges"/>
      <Seperator/>
      <MenuItem text="Samples 1" id="2701" fl="DefaultInvisible|DynamicVisibility"/>
      <MenuItem text="Samples 2" id="2702" fl="DefaultInvisible|DynamicVisibility"/>
      <MenuItem text="Samples 4" id="2704" fl="DefaultInvisible|DynamicVisibility"/>
      <MenuItem text="Samples 8" id="2708" fl="DefaultInvisible|DynamicVisibility"/>
      <MenuItem text="Samples 16" id="2716" fl="DefaultInvisible|DynamicVisibility"/>
    </SubMenu>
    -->
  </ToolWindowToolbar>
  <!--
  <Toolbar text="Apex 3D Toolbar" id="0x1003" >
    <MenuItem text="Tool1" id="2401" img="0"/>
    <MenuItem text="Tool2" id="2402" img="1"/>
    <MenuItem text="Tool3" id="2403" img="2"/>
    <MenuItem text="Tool4" id="2404" img="3"/>
    <MenuItem text="Tool5" id="2405" img="4"/>
    <MenuItem text="Tool6" id="2406" img="5"/>
    <MenuItem text="Tool7" id="2407" img="6"/>
    <MenuItem text="Tool8" id="2408" img="7"/>
    <MenuItem text="Tool9" id="2409" img="8"/>
    <MenuItem id="cmdidCut" />
    <MenuItem id="cmdidCopy" />
    <MenuItem id="cmdidPaste" />
    <Seperator/>
    <MenuItem text="Collisions" id="2330" img="9" tip="Switch collision mode on/off."/>
    <Combo text="Collisions Options" idlist="12345" id="12346" width="100" _fl="DynamicVisibility"
           type="DynamicCombo" _t="DropDownCombo|DynamicCombo|IndexCombo|MRUCombo|AppID|Shared"/>
    <Seperator/>
    <SubMenu text="Select Style">
      <MenuItem text="Box" id="2210" />
      <MenuItem text="Pivot" id="2211" />
      <MenuItem text="Normals" id="2212" />
      <MenuItem text="Wireframe" id="2213" />
      <MenuItem text="Outline" id="2214" />
    </SubMenu>
    
    <Seperator/>
    <MenuItem id="cmdidPropertiesWindow" />
  </Toolbar>
-->
</Root>
